<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="phpunit-bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="StellarWP Sniffs">
            <directory suffix="Test.php">StellarWP/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
